<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  metadata-complete="true">

 
   <servlet>
      <servlet-name>homePageServlet</servlet-name>
      <servlet-class>servlet.homePageServlet</servlet-class>
   </servlet>
 
   <servlet-mapping>
      <servlet-name>homePageServlet</servlet-name>
      <url-pattern>/home</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>createAgencyservlet</servlet-name>
      <servlet-class>servlet.createAgencyservlet</servlet-class>
   </servlet>
 
   <servlet-mapping>
      <servlet-name>createAgencyservlet</servlet-name>
      <url-pattern>/createAgency</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>loginServlet</servlet-name>
      <servlet-class>servlet.loginServlet</servlet-class>
   </servlet>
 
   <servlet-mapping>
      <servlet-name>loginServlet</servlet-name>
      <url-pattern>/login</url-pattern>
   </servlet-mapping>
   
</web-app>
